@import "tailwindcss";

:root {
  color-scheme: dark;
}

@theme {
  --animate-cursor-blink: blink 1s step-end infinite;
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
}

body {
  margin: 0;
  background-color: #0d0d0d; 
  color: #ececec;
}
